.diff-file.file-holder{id: "diff-#{i}", data: diff_file_html_data(project, diff_commit, diff_file)}
  .file-title{id: "file-path-#{hexdigest(diff_file.file_path)}"}
    - if diff_file.diff.submodule?
      %span
        = icon('archive fw')
        %strong
          = submodule_link(blob, @commit.id, project.repository)
    - else
      = blob_icon blob.mode, blob.name

      = link_to "#diff-#{i}" do
        - if diff_file.renamed_file
          - old_path, new_path = mark_inline_diffs(diff_file.old_path, diff_file.new_path)
          %strong.filename.old
            = old_path
          &rarr;
          %strong.filename.new
            = new_path
        - else
          %strong
            = diff_file.new_path
          - if diff_file.deleted_file
            deleted

      - if diff_file.mode_changed?
        %small
          = "#{diff_file.diff.a_mode} → #{diff_file.diff.b_mode}"

      .file-actions.hidden-xs
        - if blob_text_viewable?(blob)
          = link_to '#', class: 'js-toggle-diff-comments btn active has_tooltip', title: "Toggle comments for this file" do
            = icon('comments')
          \

        - if editable_diff?(diff_file)
          = edit_blob_link(@merge_request.source_project,
              @merge_request.source_branch, diff_file.new_path,
              from_merge_request_id: @merge_request.id)

        = view_file_btn(diff_commit.id, diff_file, project)

  .diff-content.diff-wrap-lines
    -# Skipp all non non-supported blobs
    - return unless blob.respond_to?('text?')
    - if diff_file.too_large?
      .nothing-here-block
        This diff could not be displayed because it is too large.
    - else
      - if blob_text_viewable?(blob)
        - if diff_view == 'parallel'
          = render "projects/diffs/parallel_view", diff_file: diff_file, project: project, blob: blob, index: i
        - else
          = render "projects/diffs/text_file", diff_file: diff_file, index: i
      - elsif blob.image?
        - old_file = project.repository.prev_blob_for_diff(diff_commit, diff_file)
        = render "projects/diffs/image", diff_file: diff_file, old_file: old_file, file: blob, index: i, diff_refs: diff_refs
      - else
        .nothing-here-block No preview for this file type
